
.meal img{
    width: 350px;
    border-radius: 30px;
    /* padding: 30px; */
padding-top: 10px;
}
.meal{
    border: 3px solid blue;
   border-radius: 30px;
  /* width: 350px; */
  background-color: rgb(126, 126, 240);
  
}
.btn{
    margin-bottom: 20px;
    background-color: blue;
    color: azure;
    padding: 5px 60px ;
    font-size: 25px;
   
}
.btn:hover{
    color:rgb(31, 4, 151);
    background-color: #FFFFFF;
}
@media screen and (max-width:576px) {
    .meal img{
        width: 150px;
        border-radius: 10px;
        /* padding: 30px; */
    padding-top: 10px;
    }
    .btn{
        margin-bottom: 20px;
        background-color: blue;
        color: azure;
        padding: 5px 10px ;
        font-size: 15px;
       
    }
}