 .header{
     background-color: darkblue;
 }
 
 .head {
    padding-left: 30px;
     font-size: 40px;
     color: #FFFFFF;
 }
 .header a{
    text-decoration: none;      
    padding:30px 40px;
    color: #FFFFFF;
    font-size: 25px;
    }
.text{
    padding-left: 800px;
}
@media screen  and (max-width:576px) {
    .text{
        padding-left: 0px;
    }
    /* .header a{
       display: none;
    } */
    .head {
      
        padding-left: 0px;
         font-size: 15px;
         color: #FFFFFF;
     } 
     .header a{
        text-decoration: none;      
        padding: 0px 0px;
        color: #FFFFFF;
        font-size: 15px;
        /* margin-right: 30px; */
        }
}